<div class="header-menu-mobile">
	<nav class="mobile-menu">
		<ul class="menu-items">
			<li><a href="#">Главная</a></li>
			<li><a href="#">Видео</a></li>
			<li><a href="#">Аудио</a></li>
			<li><a href="#">Партнёрство</a></li>
			<li><a href="#">Продвижение</a></li>
			<li><a href="#">О компании</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
		<div class="socials">
			<a class="facebook" href="#"></a>
			<a class="vk" href="#"></a>
			<a class="twitter" href="#"></a>
			<a class="instagram" href="#"></a>
			<a class="gplus" href="#"></a>
		</div>
		<div class="header-download">
			<p>Загрузите:</p>
			<a class="apple" href="#"></a>
			<a class="android" href="#"></a>
		</div>
		<a class="language" href="#">Рус</a>
	</nav>	

</div>
<header id="header">
	<div class="wrapper">
		<a class="logo" href="#"><img src="../img/logo.png" alt=""></a>
		<div class="enter-language">
			<a class="enter-regestration" href="#">Войти/Зарегистрироваться</a>
			<a class="language" href="#">Рус</a>

		</div>
		<div class="bars"></div>
		<div class="header-menu">
			<nav>
				<ul>
					<li><a href="#">Главная</a></li>
					<li><a href="#">Видео</a></li>
					<li><a href="#">Аудио</a></li>
					<li><a href="#">Партнёрство</a></li>
					<li><a href="#">Продвижение</a></li>
					<li><a href="#">О компании</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</nav>			
		</div>
		<div class="header-download">
			<p>Загрузите:</p>
			<a class="apple" href="#"></a>
			<a class="android" href="#"></a>
		</div>
		<div class="socials">
			<a class="facebook" href="#"></a>
			<a class="vk" href="#"></a>
			<a class="twitter" href="#"></a>
			<a class="instagram" href="#"></a>
			<a class="gplus" href="#"></a>
		</div>
	</div>
</header>